img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contatsLeft{
    width: 320px;
    height: 400px;
    margin-right: 50px;
}

.contantsRight{
    font-size: 1.2rem;
    text-align: left;
}

.contantsRight li{
    margin-bottom: 10px;
}

.skillBox{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 0;
}

.skillBox li{
    margin-right: 10px;
    font-weight: 600;
}

@media all and (min-width:1200px) {
    .skillBox li{
        width: 5rem;
        height: 5rem;
    }
}

@media (max-width:1199px) and (min-width:760px) {
    .contatsLeft{
        width: 240px;
        height: 300px;
        margin-bottom: 25px;
    }
    
    .container{
        height: auto;
        flex-direction: column;
    }

    .skillBox li{
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width:759px) {

}