*{
    margin:0;
    padding:0;
    color: white;
    font-family: NotoSansCJKkr;
}

body{
    /* background-color: #303030; */
    background-color: black;
}

ul,li{
    list-style: none !important;
}

a{
    color: white;
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

@media all and (min-width:1200px) {
    nav{
        height: 70px;
    }
}

@media (max-width:1199px) and (min-width:760px) {
    nav{
        height: 40px;
    }
}

@media (max-width:759px) {
    nav{
        height: 40px;
    }
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 36px; */
    z-index: 3;
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
}

nav:hover{
    background-color: #303030;
}

nav ul{
    width: auto;
    height : 70px;
    align-items : center;
    padding : 0 36px;
    z-index : 3;
    display : flex;
}

nav ul li{
    display: flex;
    flex-direction: row;
    margin: 0 35px;
}

.logo{
    width: 120px;
    height: 70px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    width: 100%;
    height: auto;
}

.logo svg{
    width: 100%;
    height: auto;
    display: block;
}