.project-intro{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column; /* 세로 방향으로 요소들을 배치 */
    align-items: center; /* 수직 가운데 정렬 */
    text-align: center; /* 내부 텍스트를 가운데 정렬 */
}

.project-intro h2{
    text-align: center;
}

.project-item{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .project-item img{
    max-width: 400px;
    
    margin-right: 20px; /* 이미지와 텍스트 사이 간격 조정 */
  }
  
 .project-text{
    width: auto;
    height: auto;
    font-size: 18px; /* 텍스트 크기 조정 */
    margin: 10px; /* 텍스트 주변 여백 조정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}